Package: com.brazilix.pro.tweak
Name: Brazilix Pro Tweak
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Brazilix Pro - Professional ESP & Game Utility for Free Fire
Maintainer: Brazilix
Author: Brazilix
Section: Games
